<?xml version="1.0" encoding="UTF-8"?>

<!--
   wscompile -cp ../../output/classes -gen:server -f:rpcliteral -mapping jaxrpc-mapping.xml config.xml
-->

<configuration
  xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">

  <service name="TestService"
    targetNamespace="http://org.jboss.ws/anonymous"
    typeNamespace="http://org.jboss.ws/anonymous/types"
    packageName="org.jboss.test.ws.jaxrpc.anonymous">
    <interface name="org.jboss.test.ws.jaxrpc.anonymous.AnonymousTestService"/>
  </service>

  <!-- wsdl location="WEB-INF/wsdl/TestService.wsdl" packageName="org.jboss.test.ws.jaxrpc.anonymous"/ --> 
  
</configuration>

