<?xml version="1.0" encoding="UTF-8"?>

<!--
   wscompile -cp ../../../../output/classes -gen:server -mapping jaxrpc-mapping.xml -keep config.xml
-->

<configuration
  xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">

  <wsdl location="./WEB-INF/wsdl/ParameterModeTest.wsdl"
    packageName="org.jboss.test.ws.jaxrpc.encoded.parametermode">
  </wsdl>

</configuration>

