<?xml version="1.0" encoding="UTF-8"?>

<!--
   wscompile -cp ../../../../../output/classes -gen:server -f:rpcliteral -keep -mapping mapping.xml config.xml
-->

<!-- wscompile has no option to generate one way operations. Manually edit the wsdl later-->

<configuration
  xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">

  <service name="OneWayService"
    targetNamespace="http://org.jboss.ws"
    typeNamespace="http://org.jboss.ws/types"
    packageName="org.jboss.test.ws.tools.jbws_211.sei">
    <interface name="org.jboss.test.ws.tools.jbws_211.sei.OneWay.TestOneWaySEI"/>
  </service>

</configuration>

