<?xml version="1.0" encoding="UTF-8"?>

<!--
   wscompile -cp ../../output/classes -import -f:explicitcontext -mapping jaxrpc-mapping.xml -keep config.xml
-->

<configuration xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">
  
  <wsdl 
    location="./WEB-INF/wsdl/globalsmspro.wsdl" 
    packageName="org.jboss.test.ws.jaxrpc.jbws663">
  </wsdl>
  
</configuration>
