<?xml version="1.0" encoding="UTF-8"?>

<!--
wscompile -cp ../../../../../output/classes -gen:server -f:rpcliteral -keep -mapping mapping.xml config.xml
-->

<!-- wscompile is not very good with attachments -->
<configuration xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">
	
	<service name="AttachmentService" targetNamespace="http://org.jboss.ws"
		typeNamespace="http://org.jboss.ws/types"
		packageName="org.jboss.test.ws.tools.jbws_211.sei.Attachment">
		<interface
			name="org.jboss.test.ws.tools.jbws_211.sei.Attachment.AttachmentSEI"/>
	</service>
	
</configuration>
